body{text-align: center;}
body{background-color: rgb(170, 153, 153);}
h1{border-color: rgb(95, 26, 64);border-width: 0cqmin;border-style: solid;}
h3{border-color: #0a4d68;border: width 1px;border-style: solid;}
body{border-color: rgba(255, 0, 166, 0.452);border-style: ridge;border-width: thick;}